MultiFit: "combine_1l2tau_run2_run3"
  Label: "1l2tau"
  POITitle: "#it{#mu}(#it{hh#rightarrow ML})"
  LimitTitle: "95% CL limit on SigXsecOverSM"
  Combine: TRUE
  %Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "300 fb^{-1}"
  ComparePOI: FALSE
  #ComparePulls: TRUE
  CompareLimits: TRUE
  #POIRange: -10:30
  PlotOptions: "YIELDS,LEFT,NOXERR,NOENDERR, NORMSIG"
  ShowObserved: FALSE
  DebugLevel: 5
  #TRUE
  DataName: "asimovData"   % asimovData
  POIName: mu_XS_hh
#  PlotCombCorrMatrix: False
#  ShowTotalOnly: False
  #POIAsimov: 1
#  StatOnly: FALSE
#  IncludeStatOnly: FALSE
#  NumCPU: 32
  #BinnedLikelihoodOptimization: TRUE
  
Fit: "run2"
  ConfigFile: 1l2tau_limit_run2.config
  Label: "run2"
  
Fit: "run3"
  ConfigFile: 1l2tau_limit_run3.config
  Label: "run3"

% -------------- %
% --  Limit   -- %
% -------------- %
Limit: limit
  LimitType: ASYMPTOTIC
  LimitBlind: True
  POI: mu_XS_hh
