##########################################
### Config file for estimating limits in 2lSS1Tau 
### 
### Please pay the attention on weights problem in V+jets samples
##################################################### 
Job:"HH2l1Tau_Fit_limit_v1_05072023_test_isHadronic_directWeighted_DDSR2CRVR_CRVRSRautobin10bins_SRm1to1_v1"
    Label: "HH2lSS1\tau"
    CmeLabel: "13 TeV"
    LumiLabel: "140 fb^{-1}"
    Lumi: 1.0
    AtlasLabel: "work in progress"
    POI: "mu_XS_hh"
    ReadFrom: NTUP
    PlotOptions: PREFITONPOSTFIT,NOXERR,YIELDS,NORMSIG %,CHI2
    DebugLevel: 1
    HistoChecks: NOCRASH
    LegendNColumns: 2
    SplitHistoFiles: TRUE
    MergeUnderOverFlow: TRUE
    ImageFormat: png
    MCstatThreshold: 0.01
    %MCstatThreshold: NONE
    MCstatConstraint: Poisson
    GetChi2: TRUE 
    %StatOnly: TRUE
    SystControlPlots: TRUE
    SystErrorBars: TRUE
    SystPruningShape: 0.005
    SystPruningNorm: 0.01
    SystLarge: 1
    CorrelationThreshold: 0.05
    SystCategoryTables: TRUE
    RankingMaxNP: 15
    RankingPlot: "all"
    DoSummaryPlot: TRUE  
    SummaryPlotYmin: 0.05 
    DoTables: TRUE
    DoPieChartPlot: TRUE
    BlindSRs: TRUE
    ReplacementFile:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/HHML_2020/2LSS1Tau/TRexFitter/replacements_IHEP.txt
                      
#% --------------- %
#% ----- FIT ----- %
#% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
  UseMinos: "mu_XS_hh"
  %doLHscan: mu_XS_hh
  %NumCPU: 30
  GetGoodnessOfFit: TRUE

#% --------------- %
#% ---- LIMIT ---- %
#% --------------- %

Limit: "limit"
    LimitType: ASYMPTOTIC
    LimitBlind: TRUE
    POI:mu_XS_hh
#    SignalInjection: TRUE

#% ---------------------- %
#% ---- SIGNIFICANCE ---- %
#% ---------------------- %

Significance: "Significance"
    SignificanceBlind: TRUE
    POIAsimov: 1
    ParamName: p0
    ParamValue: 1
    OutputPrefixName: p0

#% ------------------- %
#% --- NORM FACTOR --- %
#% ------------------- %

  NormFactor: mu_XS_hh
  Title: "#mu (hh)"
  Min: XXX_MU_XS_HH_MIN
  Max: XXX_MU_XS_HH_MAX
  Nominal: 1
  Samples: Signal
  Constant: FALSE
    
  %NormFactor: NF_hf_e
  %Title: NF_hf_e
  %%Nominal: 1
  %Nominal: 0.88
  %Min: 0.2
  %Max: 5.0
  %Samples: allttbar_hf_e% 
  %Samples: all_hf_e,all_lf_e
  %Constant: True
  %#Exclude: CR_VV_tau_pt, CR_VV_Njets, CR_VV_Nevt

  %NormFactor: NF_hf_mu
  %Title: NF_hf_mu
  %Nominal: 1
  %Nominal: 0.75
  %Min: 0.1
  %Max: 5.0
  %%Samples: allttbar_hf_mu
  %Samples: all_hf_mu
  %Constant: True
  %#Exclude: CR_VV_tau_pt, CR_VV_Njets, CR_VV_Nevt
  
  %NormFactor: Norm_VV
  %Title: Norm_VV
  %Nominal: 0.94
  %Min: 0.01
  %Max: 5.0
  %Samples: VV_truth
  %%Samples: ZZ,WZ,lnuqqWZ,WW,flVV,VVjj_truth
  %Constant: True
  %#Exclude: CR_HT_lep_emmm, CR_meee_HT_lep,CR_DRll01_lep_meee

#% --------------- %
#% --- REGIONS --- %
#% --------------- %

  Region: "hh_2l1tau_SR_BDTG"
  Type: SIGNAL
  Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{SR}
  Variable: "BDTOutput_2l1tau", 10, -1.0,1.0
  #Binning: -0.2,0.1,0.4,1.0  
  #-1.0,-0.8,-0.5,
  #Binning: -0.2,0.103720,0.447640,0.713800,1.000000
  #Binning: -0.2,0.120520,0.403600,0.708520,1.000000
  #Binning: -1.0, 0.0638, 0.3448, 0.59260,0.781400,1.000000
  Binning: AutoBin,TransfoD,5,5
  VariableTitle: "BDTG score"
  Selection: is2Lep1Tau&&Mll01/1000.>12 
  %&& BDTOutput_2l1tau>=-0.2
  %&& BDTOutput_2l1tau>=-0.2&&Mll01/1000.>12
  MCweight: weight_2l1tau
  NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
 
  %Region: "hh_2l1tau_SR"
  %Type: SIGNAL
  %Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{SR}
  %Variable: "LBoost2L_ThetaLjTau0", 4, -0.0,3.0
  %Binning: 0.0,0.6,1.0,1.5,3.0
  %%Binning: AutoBin,TransfoD,2,2
  %VariableTitle: "LBoost2L_ThetaLjTau0"
  %Selection: is2Lep1Tau&&Mll01/1000.>12
  %%&& BDTOutput_2l1tau>=-0.2&&Mll01/1000.>12
  %MCweight: weight_2l1tau
  %NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample

  Region: "hh_2l1tau_2lOS"
  Type: CONTROL
  Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{CRFtau}
  Variable: "BDTOutput_2l1tauCRFTau", 6, -1.0, 1.0
  %Binning: 0.5,1.2,2.0,3.0,4.5
  Binning: AutoBin,TransfoD,3,2
  VariableTitle: "BDTG score"
  %%Selection: is2Lep1Tau && BDTOutput_2l1tau<-0.2&&Mll01/1000.>12
  Selection: isCRFakeTauSF&&Mll01/1000.>12&&nJets_OR_DL1r_77==0 && tau_charge_0*lep_ID_0 > 0 && nJets_OR>1&&lep_ID_0*lep_ID_1<0
  MCweight: weight_2lLL1tau
  NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample

  %Region: "hh_2l1tau_2lOS"
  %Type: CONTROL
  %Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{CRFtau}
  %%Variable: "BDTOutput_2l1tau", 6, -1.0, 1.0
  %Variable: "LBoost2L_ThetaLjTau0", 4, 0.0, 3.0
  %Binning: 0.0,0.6,1.0,1.5,3.0
  %%Binning: AutoBin,TransfoD,2,2
  %VariableTitle: "LBoost2L_ThetaLjTau0"
  %Selection: is2Lep1Tau && BDTOutput_2l1tau<-0.2&&Mll01/1000.>12
  %Selection: isCRFakeTauSF&&Mll01/1000.>12&&nJets_OR_DL1r_77==0 && tau_charge_0*lep_ID_0 > 0 && nJets_OR>1&&lep_ID_0*lep_ID_1<0
  %MCweight: weight_2lLL1tau
  %NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample

  Region: "hh_2l1tau_CRWZ_BDTG"
  Type: CONTROL
  %Type: VALIDATION
  Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{CRWZ}
  Variable: "BDTOutput_2l1tauCRWZ", 6, -1.0, 1.0
  %Binning: -1.0,-0.7,-0.55,-0.1,0.3,1.0
  %Binning: -1.000000,-0.667800,-0.545200,-0.250800,0.107800,1.000000
  Binning: AutoBin,TransfoD,3,2
  VariableTitle: "BDTG score"
  %%Selection: is2Lep1Tau && BDTOutput_2l1tau<-0.2&&Mll01/1000.>12
  Selection: isCRWZ2Lep1Tau&&Mll01/1000.>12
  MCweight: weight_2l1tauCRWZ
  NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample

  Region: "hh_2l1tau_VR_BDTG"
  Type: VALIDATION
  Label: 2\ell\mathrm{+}1\uptau_\mathrm{had}\,\,\mathrm{SR}
  Variable: "BDTOutput_2l1tau", 3, -1.0., -0.2
  Binning: -1.0,-0.8,-0.5,-0.2
  %%Binning: AutoBin,TransfoD,2,2
  VariableTitle: "BDTOutput_2l1tau"
  Selection: is2Lep1Tau&&Mll01/1000.>12 && BDTOutput_2l1tau<-0.2
  %%&& BDTOutput_2l1tau>=-0.2&&Mll01/1000.>12
  MCweight: weight_2l1tau
  NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
  
  %  Region:CRFL_BDT
  %  Label:   2#it{l} LJ(e2)
  %  TexLabel: $2\ell$ LJ(e1) 
  %  Type: CONTROL
  %  Variable: BDTOutput_2l1tauCRFL,4,-1,1
  %  Binning: AutoBin,TransfoD,2,2
  %  VariableTitle:BDTG
  %  LogScale: FALSE
  %  NtuplePaths:/publicfs/atlas/atlasnew/higgs/HHML/Slim_sys_prod/SlimSysNtups_Output/2LSS1Tau/sysSRCR
  %  Selection:isCRFL2Lep1Tau&&((lep_plvWP_Tight_0>0 && lep_plvWP_Tight_1==0)||(lep_plvWP_Tight_0==0 && lep_plvWP_Tight_1>0) )&&((dilep_type==2&&abs(lep_ID_0)==13)||dilep_type==3)&&nJets_OR_DL1r_77==1 && XXX_CRFL_ADD_CUTS

#### VV region
   
    %Region: CR_VV_tau_pt
    %Label: "CR VV"
    %Type: CONTROL
    %Variable: tau_pt_0/1000., 4., 20.0, 200.0
    %Binning: 20,35,50,70,200
    %%Binning: AutoBin,TransfoD,4,4
    %VariableTitle: "p_{T} [GeV]"
    %#NtuplePaths: /eos/user/b/bzabinsk/HHML_v5_samples/SRCRVR_v2
    %NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
    %YmaxScale: 4
    %Ymin: 0.01
    %LogScale: False
    %MCweight: weight_2l1tauCRWZ
##    %Selection:XXX_2ll1tauSR_VV&&XXX_2ll1tauSR_lep
    %%Selection:XXX_BZ2ll1tauCR_VV&&XXX_lep_def_SR 
    %Selection:isCRWZ2Lep1Tau
    %#&& weight_lumi_xsec > -1.0
     
    %Region: CR_VV_BDTG
    %Label: "CR VV"
    %Type: CONTROL
    %Variable: BDTOutput_2l1tauCRWZ, 4., -1.0, 1.0
    %%Binning: -1.0,-0.7,-0.2,0.2,1
    %Binning: AutoBin,TransfoD,4,4
    %VariableTitle: "BDTG score"
    %#NtuplePaths: /eos/user/b/bzabinsk/HHML_v5_samples/SRCRVR_v2
    %NtuplePaths:/publicfs/atlas/atlasnew/higgs/HHML/Slim_sys_prod/SlimSysNtups_Output/2LSS1Tau/sysSRCR
    %YmaxScale: 4
    %Ymin: 0.01
    %LogScale: False
#    %MCweight:
#    %Selection:XXX_2ll1tauSR_VV&&XXX_2ll1tauSR_lep
     %Selection:XXX_BZ2ll1tauCR_VV&&XXX_lep_def_SR
    % Selection:isCRWZ2Lep1Tau 
    % #&& weight_lumi_xsec > -1.0
     
    %Region: CR_VV_Njets
    %Label: "CR VV"
    %Type: CONTROL
    %Variable: nJets_OR, 2., 0.0, 2.0
    %Binning: -1.0,-0.7,-0.2,0.2,1
    %Binning: AutoBin,TransfoD,4,4
    %VariableTitle: "N_{jets}"
    %#NtuplePaths: /eos/user/b/bzabinsk/HHML_v5_samples/SRCRVR_v2
    %NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
    %YmaxScale: 4
    %Ymin: 0.01
    %LogScale: False
    %MCweight: weight_2l1tauCRWZ
#    %Selection:XXX_2ll1tauSR_VV&&XXX_2ll1tauSR_lep
     %Selection:XXX_BZ2ll1tauCR_VV&&XXX_lep_def_SR
    % Selection:isCRWZ2Lep1Tau 
     %&& weight_lumi_xsec > -1.0  
     
    %Region: CR_VV_Nevt
    %Label: "CR VV"
    %Type: CONTROL
    %Variable: 1,1,0,1 
    %VariableTitle: Nevt
    %#NtuplePaths: /eos/user/b/bzabinsk/HHML_v5_samples/SRCRVR_v2
    %NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
    %YmaxScale: 6
    %Ymin: 0.01
    %Selection:isCRWZ2Lep1Tau
    %MCweight: weight_2l1tauCRWZ

##### NFs FakeLeptons

  %Region:CR_HT_lep_emmm
  %Label:  2#it{l} LJ(#mu)
  %TexLabel: $2\ell \mathrm{LJ}(\mu)$ 
  %Type: CONTROL
  %Variable: HT_lep/1000,3,0,200
  %#Binning: 0,80,150,200,300
  %Binning: 0,80,150,200
  %VariableTitle: HT_lep[GeV]
  %LogScale: FALSE
  %NtuplePaths: /mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
  %%Selection:isCRFL2Lep1Tau&&((lep_plvWP_Tight_0>0 && lep_plvWP_Tight_1==0)||(lep_plvWP_Tight_0==0 && lep_plvWP_Tight_1>0) )&&((dilep_type==2&&abs(lep_ID_0)==11)||dilep_type==1)
  %Selection:isCRFL2Lep1Tau&&((dilep_type==2&&abs(lep_ID_0)==11)||dilep_type==1)&& XXX_CRFL_ADD_CUTS
  %MCweight:1.0*(isCRFL2Lep1Tau>0 ? (weight_2l1tauCRFL*(lep_plvWP_Tight_0>0 ? (abs(lep_ID_0) == 11 ? lep_SF_El_PLVTight_0: lep_SF_Mu_PLVTight_0) :1.0)*(lep_plvWP_Tight_1>0 ? (abs(lep_ID_1) == 11 ? lep_SF_El_PLVTight_1: lep_SF_Mu_PLVTight_1) : 1.0)):1.0)

   % Region:CR_meee_HT_lep
   % Label:   2#it{l} LJ(e2)
   % TexLabel: $2\ell$ LJ(e2) 
   % Type: CONTROL
   % Variable: HT_lep/1000,2,0,200
   % VariableTitle: HT_lep[GeV]
   % LogScale: FALSE
   % NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
    %Selection:isCRFL2Lep1Tau&&((dilep_type==2&&((lep_plvWP_Tight_0>0 && lep_plvWP_Tight_1==0)||(lep_plvWP_Tight_0==0 && lep_plvWP_Tight_1>0) )&&abs(lep_ID_0)==13)||dilep_type==3)&&nJets_OR_DL1r_77>1
   % Selection:isCRFL2Lep1Tau&&((dilep_type==2&&abs(lep_ID_0)==13)||dilep_type==3)&&nJets_OR_DL1r_77>1 && XXX_CRFL_ADD_CUTS
   %  MCweight:1.0*(isCRFL2Lep1Tau>0 ? (weight_2l1tauCRFL*(lep_plvWP_Tight_0>0 ? (abs(lep_ID_0) == 11 ? lep_SF_El_PLVTight_0: lep_SF_Mu_PLVTight_0) :1.0)*(lep_plvWP_Tight_1>0 ? (abs(lep_ID_1) == 11 ? lep_SF_El_PLVTight_1: lep_SF_Mu_PLVTight_1) : 1.0)):1.0)
    
   % Region:CR_DRll01_lep_meee
   % Label:   2#it{l} LJ(e2)
   % TexLabel: $2\ell$ LJ(e1) 
   % Type: CONTROL
   % Variable: DRll01,4,1,4
   % VariableTitle:DRll01
   % LogScale: FALSE
   % NtuplePaths:/mnt/atlasdata2/praktyki/HHML/samples/samples/gn2/GFW1_SLIM/Systematics/SysSample
   % %Selection:isCRFL2Lep1Tau&&((lep_plvWP_Tight_0>0 && lep_plvWP_Tight_1==0)||(lep_plvWP_Tight_0==0 && lep_plvWP_Tight_1>0) )&&((dilep_type==2&&abs(lep_ID_0)==13)||dilep_type==3)&&nJets_OR_DL1r_77==1
   % Selection:isCRFL2Lep1Tau&&((dilep_type==2&&abs(lep_ID_0)==13)||dilep_type==3)&&nJets_OR_DL1r_77==1 && XXX_CRFL_ADD_CUTS
   %  MCweight:1.0*(isCRFL2Lep1Tau>0 ? (weight_2l1tauCRFL*(lep_plvWP_Tight_0>0 ? (abs(lep_ID_0) == 11 ? lep_SF_El_PLVTight_0: lep_SF_Mu_PLVTight_0) :1.0)*(lep_plvWP_Tight_1>0 ? (abs(lep_ID_1) == 11 ? lep_SF_El_PLVTight_1: lep_SF_Mu_PLVTight_1) : 1.0)):1.0)
    


#% --------------- %
#% --- SAMPLES --- %
#% --------------- %

   Sample: DATA
   Type: DATA
   Title: DATA
   FillColor: 1
   NtupleName: nominal
   NtupleFiles: XXX_data
   %%NtupleFiles: "Data/data15","Data/data16","Data/data17","Data/data18"
   %Exclude: hh_2l1tau_SR
  
   Sample: Signal
   Type: SIGNAL
   Title: HH
   FillColor: 632
   LineColor: 632
   NtupleName: nominal
   NtupleFiles:XXX_HH
   MCweight: 1.0
   %*weight_2l1tau   
#  Selection: 

   Sample: VV_truth
   Type: BACKGROUND
   Title: VV
   Group: VV
   FillColor: 209
   LineColor: 209
   NtupleName: nominal
   NtupleFiles: XXX_ZZ,XXX_WZ,XXX_lnuqqWZ,XXX_WW,XXX_flVV,XXX_jjVV 
   MCweight: 1.0*0.94
   %*weight_2l1tau*1.04
   Selection:!XXX_fakeTaus&& (lep_isQMisID_1==0 && lep_isQMisID_0==0) 

  Sample: VVV
  Type: BACKGROUND
  TexTitle: $VVV$
  FillColor: 928
  LineColor: 928
  %NtupleFiles: Med_VVV/atrib
  NtupleName: nominal
  NtupleFiles: XXX_3V
  MCweight: 1.0
  %*weight_2l1tau
  Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
        
  Sample: ttbar
  Type: BACKGROUND
  #Title: $t\bar{t}$
  TexTitle: $Other$
  Group: Other
  FillColor: 51
  LineColor: 51
  NtupleName: nominal
  NtupleFiles: XXX_ttbar
  Selection:  !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
   MCweight: 1.0
   %*weight_2l1tau
       
   Sample: tV
   Type: BACKGROUND
   %TexTitle: $t+\text{V}$
   TexTitle: $Other$
   Group: Other
   FillColor: 64
   LineColor: 64
   NtupleName: nominal
   NtupleFiles: XXX_tV
   %MCweight: 1.0*weight_lumi_xsec
   MCweight: 1.0
   %*weight_2l1tau
   Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus 
   
   Sample: tVV
   Type: BACKGROUND
   %TexTitle: $t+\text{V}$
   TexTitle: $Other$
   Group: Other
   FillColor: 64
   LineColor: 64
   NtupleName: nominal
   NtupleFiles: XXX_ptVV
   %MCweight: 1.0*weight_lumi_xsec
   MCweight: 1.0
   %*weight_2l1tau
   Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0) &&!XXX_fakeTaus
   
  Sample: ttH
  Type: BACKGROUND
  TexTitle: $t\bar{t}H$
  Group: Other
  FillColor: 797
  LineColor: 797
  NtupleName: nominal
  NtupleFiles: XXX_ttH
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  
  Sample: VH
  Type: BACKGROUND
  TexTitle: $VH$
  FillColor: 920
  LineColor: 920
  NtupleName: nominal
  NtupleFiles: XXX_VH
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0) &&!XXX_fakeTaus
  
  Sample: ttW
  Type: BACKGROUND
  TexTitle: $t\bar{t}V$
  Group: Other
  FillColor: 5
  LineColor: 5
  NtupleName: nominal
  NtupleFiles: XXX_ttW
  MCweight: 1.0
  %*weight_2l1tau
  Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0) &&!XXX_fakeTaus
  
  Sample: ttZ
  Type: BACKGROUND
  TexTitle: $t\bar{t}V$
  Group: Other
  FillColor: 5
  LineColor: 5
  NtupleName: nominal
  NtupleFiles: XXX_ttZ
  MCweight: 1.0
  %*weight_2l1tau
  Selection: (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  
  Sample: Vjets
  Type: BACKGROUND
  %TexTitle: $Z+\text{jets}$ 
  TexTitle: $V+\text{jets}$ 
  Group: Vjet
  FillColor: 60
  LineColor: 60
  NtupleName: nominal
  NtupleFiles: XXX_Zjets,XXX_DYMLowZ,XXX_Wjet
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
   Exclude: hh_2l1tau_SR_BDTG,hh_2l1tau_VR_BDTG
%  MCweight: 1.0
  %*weight_2l1tau
 
  Sample: Vgamma
  Type: BACKGROUND
  %TexTitle: $V+\gamma$
  TexTitle: $Other$
  Group: Other
  FillColor: 6
  LineColor: 6
  NtupleName: nominal
  NtupleFiles: XXX_Vgamma
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  
  Sample: ttWW
  Type: BACKGROUND
  %TexTitle: $tops$
  TexTitle: $Other$
  Group: Other
  FillColor: 7
  LineColor: 7
  NtupleName: nominal
  NtupleFiles: XXX_pttWW_samples
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  
  Sample: stop
  Type: BACKGROUND
  %TexTitle: $tops$
  TexTitle: $Other$
  Group: Other
  FillColor: 7
  LineColor: 7
  NtupleName: nominal
  NtupleFiles: XXX_Allstop
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau

  Sample: top3
  Type: BACKGROUND
  %TexTitle: $tops$
  TexTitle: $Other$
  Group: Other
  FillColor: 7
  LineColor: 7
  NtupleName: nominal
  NtupleFiles: XXX_3top_samples
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  
  
  Sample: top4
  Type: BACKGROUND
  %TexTitle: $tops$
  TexTitle: $Other$
  Group: Other
  FillColor: 7
  LineColor: 7
  NtupleName: nominal
  NtupleFiles:XXX_4top_samples
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E) && (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  
  Sample: Rare_tt
  Type: BACKGROUND
  %TexTitle: $Rare_tt$
  TexTitle: $Other$
  Group: Other
  FillColor: 8
  LineColor: 8
  NtupleName: nominal
  NtupleFiles: XXX_Rare_tt
  Selection: !(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E)&&!(!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX)&&!(!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED)&&!(!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E)&& (lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  %MCweight: 1.0*weight_lumi_xsec
  MCweight: 1.0
  %*weight_2l1tau
  
    Sample: all_QED
    Type: BACKGROUND
    TexTitle: t\bar{t}t tˉinternal conversion
    Group: QED
    FillColor: 51
    LineColor: 51
    NtupleName: nominal
    NtupleFiles:  XXX_ttbar,XXX_Rare_tt,XXX_tops,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma
    MCweight: 1.0
    %*weight_2l1tau
    Selection: !XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && XXX_TTBAR_NONQMISID&& XXX_TTBAR_QED &&!XXX_fakeTaus
 
    Sample: all_hf_e
    Type: BACKGROUND
    TexTitle: Fakes-hf-e
    Group: HF_e
    FillColor: 876
    LineColor: 876
    NtupleName: nominal
    NtupleFiles:  XXX_ttbar,XXX_Rare_tt,XXX_tops,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma
    MCweight: 1.0*0.87
    %*weight_2l1tau*0.87
    Selection:!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&XXX_TTBAR_HF_E&&!XXX_fakeTaus
                     
    
    Sample: all_lf_e
    Type: BACKGROUND
    TexTitle: Fakes-lf-e
    Group: HF_e
    FillColor: 876
    LineColor: 876
    NtupleName: nominal
    NtupleFiles:  XXX_ttbar,XXX_Rare_tt,XXX_tops,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma
    MCweight: 1.0*0.87
    %*weight_2l1tau*0.87
    Selection:!XXX_TTBAR_PROMPT&&!XXX_TTBAR_CONV&&XXX_TTBAR_NONPROMPT_E&&XXX_TTBAR_NONQMISID&&!XXX_TTBAR_HF_E&&!XXX_fakeTaus                
                     
                     
    Sample: all_hf_mu
    Type: BACKGROUND
    TexTitle: Fakes-hf_mu
    Group: HF_mu
    FillColor: 84
    LineColor: 84
    NtupleName: nominal
    NtupleFiles:  XXX_ttbar,XXX_Rare_tt,XXX_tops,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma
    MCweight: 1.0*0.75
    Selection:!XXX_TTBAR_PROMPT && !XXX_TTBAR_CONV && XXX_TTBAR_NONPROMPT_MU && NOQMSID_XXX&&!XXX_fakeTaus
              
    Sample: all_Conv
    Type: BACKGROUND
    TexTitle: Conversion
    Group: Conv
    FillColor: 616
    LineColor: 1
    NtupleName: nominal
    %NtupleFiles: ttbar
    NtupleFiles: XXX_ttbar,XXX_Rare_tt,XXX_tops,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma
    MCweight: 1.0
    Selection:!XXX_TTBAR_PROMPT && XXX_TTBAR_CONV && NOQMSID_XXX &&!XXX_TTBAR_QED&&!XXX_fakeTaus

   Sample: VV_faketaus
   Type: BACKGROUND
   Title: $fake \tau$
   FillColor: 809
   LineColor: 809
   NtupleName: nominal
   NtupleFiles: XXX_ttbar,XXX_Zjets,XXX_DYMLowZ,XXX_Wjet,XXX_Vgamma,XXX_ttW,XXX_ttZ,XXX_ttH,XXX_VH,XXX_VV,XXX_3V,XXX_tV,XXX_tops,XXX_Rare_tt
   #NtupleFiles: XXX_VV
   MCweight: 1.0*tauSF_fakeTau_nom_2l1tau
   Selection: XXX_fakeTaus && (lep_isQMisID_1==0 && lep_isQMisID_0==0)


  Sample: QmisID
  Type: BACKGROUND
  TexTitle: $QmisID$
  FillColor: 13
  Group:QmisID
  LineColor: 1
  NtupleName: nominal
  NtupleFiles: XXX_ttbar,XXX_Zjets,XXX_Wjet,XXX_DYMLowZ,XXX_Vgamma,XXX_ttW,XXX_ttZ,XXX_ttH,XXX_VH,XXX_VV,XXX_3V,XXX_tV,XXX_tops,XXX_Rare_tt
  Selection:!(lep_isQMisID_1==0 && lep_isQMisID_0==0)&&!XXX_fakeTaus
  MCweight: 1.0
  
